<div class="container mx">

    <h2>Log In</h2>
    <form method="post" action="/login" class="m-4">
            <strong>Log into your account</strong>
            {{> formErr }}
        <div class="input-group">
            <label for="username" class="visually-hidden">Username</label>
            <input name="username" type="text" class="form-control" placeholder="Username" required>
        </div>
        <div class="input-group">
            <label for="password" class="visually-hidden">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit"> Submit </button>
        </div>
    </form>
        <h3>You don't have an account, yet? <a href="/signup"><strong>Sign up!</strong></a></h3>
</div>