<div class="container mx">

    <h2>Sign Up</h2>
    
    <form method="post" class="m-4">
        
        <div class="input-group">
            <label for="name" class="input-group-text visually-hidden">Name </label>
            <input name="name" type="text" placeholder="name" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="username" class="input-group-text visually-hidden">Username </label>
            <input name="username"  type="text" placeholder="username" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="password" class="input-group-text visually-hidden">Password</label>
            <input name="password" type="text" placeholder="passwrod" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="address" class="input-group-text visually-hidden">Address</label>
            <input name="address" type="text" placeholder="address" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="phone" class="input-group-text visually-hidden">Age</label>
            <input name="phone" type="text" placeholder="passwrod" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="phone" class="input-group-text visually-hidden">Phone </label>
            <input id="phone" type="text" name="phone" placeholder="Phone" class="form-control" required>
        </div>
        {{> formErr }}
        <div class="input-group">
            <label for="email" class="input-group-text visually-hidden">Email</label>
            <input name="email" placeholder="Mail" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="email" class="input-group-text visually-hidden">Email</label>
            <input name="email" placeholder="Mail" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="avatar" class="input-group-text visually-hidden">Avatar</label>
            <input name="avatar" placeholder="avatar" class="form-control" >
        </div>
        <div class="col-2">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <h3>You already have an account? <a href="/login"><strong>Log in</strong></a></h3>
</div>